@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
@import "variables";
@import "common";

body {
  font-family: "Barlow", sans-serif;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 60%;
    background-color: var(--Light-Grayish-Blue);
    z-index: -1;
    border-bottom-left-radius: 3rem;
  }
  .headersection {
    padding: 2rem;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .menu {
        background-color: transparent;
        outline: none;
        border: none;
      }
      .close {
        display:none;
        background-color: transparent;
        outline: none;
        border: none;
        position: absolute;
        top: 50%;
        right: 0.1rem;
        transform: translateY(-50%);
        animation-name: fade-in;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
      }
    }
    nav {
      display:none;
      width: 85%;
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.6);
      padding: 1.5rem 1.5rem 0 1.5rem;
      border-radius: 0.3rem;
      animation-name: fade-in;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      ul {
        text-align: center;
        list-style: none;
        li {
          padding: 0.5rem 0 1rem 0;
          a {
            color: var(--Very-Dark-Blue);
            font-family: "Barlow Condensed", sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: -0.2rem;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 2px;
              background-color: var(--Very-Dark-Blue);
              transition: all 0.3s ease-in-out;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
        .cta {
          padding-top: 1rem;
          padding-bottom: 1.5rem;
          border-top: 1px solid var(--Grayish-Blue);
          a {
            color: var(--Grayish-Blue);
            &::after {
              background-color: var(--Grayish-Blue);
            }
          }
        }
      }
    }
  }
  .flextry {
    .imagesection {
      overflow: hidden;
      img {
        width: 165%;
      }
    }
    .description {
      padding: 6rem 2rem 2.5rem 2rem;
      h3 {
        font-family: "Barlow Condensed", sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        color: var(--Grayish-Blue);
        letter-spacing: 0.25rem;
        margin-bottom: 1rem;
        span {
          background-color: var(--Very-Dark-Blue);
          color: var(--Light-Grayish-Blue);
          padding: 0.3rem 0.8rem;
          border-radius: 1rem;
          letter-spacing: 0.1rem;
          font-weight: 700;
        }
      }
      h2 {
        text-transform: uppercase;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        color: var(--Very-Dark-Blue);
        margin-bottom: 1rem;
      }
      p {
        color: var(--Dark-Grayish-Blue);
        font-size: 18px;
        padding-right: 4rem;
        margin-bottom: 1.5rem;
      }
      .button-preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .demoCta {
          border: none;
          outline: none;
          background-color: var(--Red);
          color: var(--Light-Grayish-Blue);
          padding: 0.6rem 1.5rem;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 700;
          border-radius: 0.2rem;
          text-transform: uppercase;
          font-size: 1rem;
          transition: all 0.3s ease-in-out;
          &:hover{
            background-color: hsl(0, 100%, 75%);
          }
        }
        h3 {
          margin-bottom: 0;
          letter-spacing: 0.15rem;
        }
      }
    }
  }
  footer {
    padding-bottom: 0.5rem;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
}

@media (min-width:1024px){
  body{
    .headersection{
      padding: 5rem 10rem;
      display: flex;
      justify-content: space-between;
      header{
        .menu{
          display: none;
        }
      }
      nav{
        display: block;
        width: 50%;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        top: 4.5rem;
        left: 70%;
        transform: translateX(-70%);
        ul{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          li{
            margin-left: 5rem;
          }
          .cta{
            border-top: none;
            position: relative;
            &::before{
              content: "";
              position:absolute;
              width: .5rem;
              height: .5rem;
              border-radius: 50%;
              background-color: var(--Grayish-Blue);
              left: -180%;
              top: 45%;
              transform: translate(180%,-45%);
            }
          }
        }
      }
    }

    .flextry{
      display: flex;
      flex-direction: row-reverse;
      .imagesection{
        img{
          width: 150%;
        }
      }

      .description{
        width: 60%;
        padding-left: 10rem;
        .button-preview{
          padding-right: 3rem ;
        }
      }
    }
  }
}